<div class="container-fluid mt-5" id="about">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
        <div class="row">
          <h1 class=" center highlight-heading main-heading ">About Us</h1>
          <p class=" center highlight-heading sub-heading mb-5">grow your business with us</p>
          {{!-- Left Content --}}
          <div class="col-md-6 col-12 order-md-0 ">
            <figure class="images">
              <img src="images/about.svg" alt="images">
            </figure>

          </div>
          {{!-- Right content --}}
          <div class="col-md-6 col-12 order-md-1 data-content">
            <h1 class="blur">WE ARE THE PROFESSIONAL DEVELOPERS</h1>
            <p class="blur">Welcome to <span class="highlight">Nayaks Technical.</span>Your Number One Sourse For All
              Things.We're Dedicated To Giving You The Very Best Of Work.With A Focus On Three Characteristics ie;
              Dependability, Customer Service And Uniqueness. </p>
            <button> Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>